<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user_store">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.example.user_store.UserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.goods_detail.GoodsDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.assess.AssessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.assess_detail.AssessDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

    </application>

</manifest>